<!-- Barra lateral de navegación -->
<div class="bg-slate-100 min-h-screen h-full pt-2 sm:w-32 md:w-48">
    <div class="sm:px-2 mb-8">
        <h1 class="text-lg sm:text-lg md:text-xl font-bold text-black">
            Ohm <span class="text-blue-500">W</span>izard
        </h1>
        <p class="text-slate-500 text-sm">Soluciones electrónicas</p>
    </div>

    <a href="" class="space-x-2 items-center px-2 flex flex-col mb-12">
        <img class="w-20 rounded-full"
            src="https://www.shutterstock.com/image-photo/electronic-circuit-board-close-up-600nw-1568488030.jpg"
            alt="">
        <p class="text-center">Welcome back</p>
    </a>

    <nav class="mx-2">
        @for (item of menuItems; track $index) {
        <a [routerLink]="item.path" routerLinkActive="bg-gradient-to-r from-cyan-700 to-cyan-500 text-white"
            class="w-full border-b border-slate-400 block  px-2 py-4 my-1 transition duration-200 hover:bg-slate-400/20">
            <div class="flex flex-col">
                <span class="font-semibold leading-5">{{ item.title }}</span>
                <span class="text-sm md:block">{{ item.path }}</span>
            </div>
        </a>
        }
    </nav>
</div>