<app-title title="Calculadoras para la ley de Ohm"></app-title>

<div class="border-y-2 border-slate-600 p-2">
    <p class="text-sm text-justify hidden md:block">
        La <strong>ley de Ohm</strong> es un principio fundamental en la electrónica que establece la relación entre la
        <strong>corriente
            eléctrica [I]</strong>, la <strong>diferencia de potencial [V]</strong> y la <strong>resistencia eléctrica
            [R]</strong> en un circuito.
        Matemáticamente, se expresa como V = I * R, donde V es la diferencia de potencial en voltios, I es la corriente
        en amperios y R es la resistencia en ohmios.

        La <strong>potencia eléctrica [W]</strong> , calculada como el producto de la corriente y la
        diferencia de
        potencial, es crucial para evaluar principalmente el dimencionamiento de componentes con el fin de no quemarlos
        o dañarlos.<br>
    </p>
    <p class="text-sm text-justify">
        Los <strong>cálculos</strong> basados en la <strong>ley de Ohm</strong> son necesarios para determinar la
        eficiencia
        y la seguridad de los
        circuitos eléctricos, así como para dimensionar componentes como resistencias, cables y fuentes de alimentación.
    </p>
</div>

<div class="flex flex-wrap place-content-around gap-8 mt-6">

    <!-------------- Resistencia por ley de Ohm -------------->
    <div class="box-res">
        <div class="border border-black rounded-lg px-1 py-2">
            <h2 class="text-center font-semibold">Caculadora de Resistencias</h2>
            <label class="ml-4">Voltaje:</label>
            <input class="border border-slate-400 in-res mt-2 ml-2" type="number" [(ngModel)]="voltaje_r">
            [v]<br>
            <label>Corriente:</label>
            <input class="border border-slate-400 in-res mt-2 ml-2" type="number" [(ngModel)]="corriente_r">
            [A]<br>
            <div class="flex">
                <button class="bg-blue-600 rounded text-white mt-5 py-0.5 px-1.5" (click)="calcresistencia()">Calcular
                    =></button>
                <div class="flex font-semibold pt-5 ml-3.5">
                    <p>Recistencia:</p>
                    <p class="text-blue-600 text-4xl -mt-3.5 font-bold ml-2">{{resistencia_r}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-------------- Voltaje por ley de Ohm -------------->
    <div class="box-res">
        <div class="border border-black rounded-lg px-1 py-2">
            <h2 class="text-center font-semibold">Caculadora de Voltaje</h2>
            <label class="ml-2.5">Corriente:</label>
            <input class="border border-slate-400 in-res mt-2 ml-2" type="number" [(ngModel)]="corriente_v">
            [A]<br>
            <label>Resistencia:</label>
            <input class="border border-slate-400 in-res mt-2 ml-2" type="number" [(ngModel)]="resistencia_v">
            [Ohm]<br>
            <div class="flex">
                <button class="bg-blue-600 rounded text-white mt-5 py-0.5 px-1.5" (click)="calcvoltaje()">Calcular
                    =></button>
                <div class="flex font-semibold pt-5 ml-3.5">
                    <p>Recistencia:</p>
                    <p class="text-blue-600 text-4xl -mt-3.5 font-bold ml-2">{{voltaje_v}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-------------- Corriente por ley de Ohm -------------->
    <div class="box-res">
        <div class="border border-black rounded-lg px-1 py-2">
            <h2 class="text-center font-semibold">Caculadora de Corriente</h2>
            <label class="ml-6">Voltaje:</label>
            <input class="border border-slate-400 in-res mt-2 ml-2" type="number" [(ngModel)]="voltaje_c">
            [v]<br>
            <label>Resitencia:</label>
            <input class="border border-slate-400 in-res mt-2 ml-2" type="number" [(ngModel)]="resistencia_c">
            [Ohm]<br>
            <div class="flex">
                <button class="bg-blue-600 rounded text-white mt-5 py-0.5 px-1.5" (click)="calccorriente()">Calcular
                    =></button>
                <div class="flex font-semibold pt-5 ml-3.5">
                    <p>Recistencia:</p>
                    <p class="text-blue-600 text-4xl -mt-3.5 font-bold ml-2">{{corriente_c}}</p>
                </div>
            </div>
        </div>
    </div>



    <!-------------- Resistencia por ley de Ohm -------------->
    <div class="box-res">
        <div class="border border-black rounded-lg px-1 py-2">
            <h2 class="text-center font-semibold">Caculadora de Resistencias</h2>
            <label class="ml-4">Voltaje:</label>
            <input class="border border-slate-400 in-res mt-2 ml-2" type="number" [(ngModel)]="voltaje_r">
            [v]<br>
            <label>Corriente:</label>
            <input class="border border-slate-400 in-res mt-2 ml-2" type="number" [(ngModel)]="corriente_r">
            [A]<br>
            <div class="flex">
                <button class="bg-blue-600 rounded text-white mt-5 py-0.5 px-1.5" (click)="calcresistencia()">Calcular
                    =></button>
                <div class="flex font-semibold pt-5 ml-3.5">
                    <p>Recistencia:</p>
                    <p class="text-blue-600 text-4xl -mt-3.5 font-bold ml-2">{{resistencia_r}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-------------- Voltaje por ley de Ohm -------------->
    <div class="box-res">
        <div class="border border-black rounded-lg px-1 py-2">
            <h2 class="text-center font-semibold">Caculadora de Voltaje</h2>
            <label class="ml-2.5">Corriente:</label>
            <input class="border border-slate-400 in-res mt-2 ml-2" type="number" [(ngModel)]="corriente_v">
            [A]<br>
            <label>Resistencia:</label>
            <input class="border border-slate-400 in-res mt-2 ml-2" type="number" [(ngModel)]="resistencia_v">
            [Ohm]<br>
            <div class="flex">
                <button class="bg-blue-600 rounded text-white mt-5 py-0.5 px-1.5" (click)="calcvoltaje()">Calcular
                    =></button>
                <div class="flex font-semibold pt-5 ml-3.5">
                    <p>Recistencia:</p>
                    <p class="text-blue-600 text-4xl -mt-3.5 font-bold ml-2">{{voltaje_v}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-------------- Corriente por ley de Ohm -------------->
    <div class="box-res">
        <div class="border border-black rounded-lg px-1 py-2">
            <h2 class="text-center font-semibold">Caculadora de Corriente</h2>
            <label class="ml-6">Voltaje:</label>
            <input class="border border-slate-400 in-res mt-2 ml-2" type="number" [(ngModel)]="voltaje_c">
            [v]<br>
            <label>Resitencia:</label>
            <input class="border border-slate-400 in-res mt-2 ml-2" type="number" [(ngModel)]="resistencia_c">
            [Ohm]<br>
            <div class="flex">
                <button class="bg-blue-600 rounded text-white mt-5 py-0.5 px-1.5" (click)="calccorriente()">Calcular
                    =></button>
                <div class="flex font-semibold pt-5 ml-3.5">
                    <p>Recistencia:</p>
                    <p class="text-blue-600 text-4xl -mt-3.5 font-bold ml-2">{{corriente_c}}</p>
                </div>
            </div>
        </div>
    </div>
</div>