<div class="flex flex-col max-w-80">

    <div class="border border-black rounded-lg px-3 py-2">
        <h2 class="text-center font-semibold">Caculadora de Potencia</h2>

        <!-------------- P por ley de Ohm -------------->
        <label class="ml-5">Voltaje:</label>
        <input class="border border-slate-400 text-center rounded-xl mt-2 ml-2 max-w-40" type="number"
            [(ngModel)]="voltaje">
        [v]<br>

        <label class="ml-0.5">Corriente:</label>
        <input class="border border-slate-400 text-center rounded-xl mt-2 ml-2 max-w-40" type="number"
            [(ngModel)]="corriente">
        [A]<br>

        <div class="flex">
            <button class="bg-blue-600 rounded text-white mt-5 py-0.5 px-1.5" (click)="clacpotencia()">Calcular
                =></button>
            <div class="flex font-semibold pt-5 ml-3.5">
                <p>Potencia:</p>
                <p class="text-blue-600 text-4xl -mt-3.5 font-bold ml-2">{{potencia}}</p>
            </div>
        </div>
    </div>
</div>