<div class="flex flex-col max-w-96">

    <div class="border border-black rounded-lg px-3 py-2">
        <h2 class="text-center font-semibold">Caculadora de Potencia</h2>

        <!-------------- P por ley de Ohm -------------->
        <label class="ml-5">Voltaje [V]:</label>
        <input class="border border-slate-400 rounded-xl mt-2 ml-2"><br>

        <label class="ml-0.5">Corriente [A]:</label>
        <input class="border border-slate-400 rounded-xl mt-2 ml-2"><br>

        <button class="bg-blue-600 rounded text-white mt-3 py-0.5 px-1.5">Calcular Potencia</button>
    </div>


</div>